.keyboard {
  padding-bottom: 2vh;
  font-size: 16px;

  .row {
    display: flex;
    justify-content: space-between;
  }

  .buttonLetter {
    min-height: 2.25em;
    min-width: 2.25em;
    margin: 10px;
    font-size: 24px;
    font-weight: 500;
    font-family: "Heebo", sans-serif;
    border-radius: 5px;
    border: none;
    background: #e8e8e8;
    color: black;

    &:hover:not([disabled]) {
      background: #e0dcdc;
      cursor: pointer;
    }


    &.correct {
      background: limegreen;
      color: white;

      &:hover {
        background: limegreen;
      }
    }

    &.wrong {
      background: gray;
      color: white;

      &:hover {
        background: gray;
      }
    }

    &.wrongPlace {
      color: white;
      background: sandybrown;

      &:hover {
        background: sandybrown;
      }
    }
  }
  .bottomRow {
    display: flex;
    justify-content: space-between;
  }

  @media only screen and (max-width: 1000px) {

    & {
      width: 95%;
    }
    .buttonLetter {
      min-height: 1em;
      min-width: 1em;
      margin: 5px;
    }
  }
}
