.keyboard {
  padding-bottom: 2vh;
  font-size: 16px;

  .buttonLetter {
    height: 2.25em;
    width: 2.25em;
    margin: 10px;
    font-size: 24px;
    font-weight: 500;
    font-family: "Heebo", sans-serif;
    border-radius: 5px;
    border: none;
    background: #e8e8e8;

    &:hover:not([disabled]) {
      background: #e0dcdc;
      cursor: pointer;
    }


    &.correct {
      background: limegreen;
      color: white;

      &:hover {
        background: limegreen;
      }
    }

    &.wrong {
      background: gray;
      color: white;

      &:hover {
        background: gray;
      }
    }

    &.wrongPlace {
      color: white;
      background: sandybrown;

      &:hover {
        background: sandybrown;
      }
    }
  }

  .deleteButton {
    width: 1.75em;
  }

  .enterButton {
    width: 3em;
    height: 80%;
  }

  .secondRow {
    display: flex;

    .keys {
      display: flex;
      flex-direction: column;
    }

    .upper {
      display: flex;
      justify-content: space-around;
    }
  }

  .bottomRow {
    display: flex;
    justify-content: space-evenly;;
  }
}
