.message {
  position: absolute;
  top: 20vh;
  background: var(--messageBackground);
  width: 80vw;
  text-align: center;
  border: solid 1px var(--messageBorderColor);
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px -1px rgb(0 0 0 / 10%);
  padding-bottom: 1em;
  left: 10vw;

  .nextWord {
    margin: 10px;
    font-size: 24px;
    font-weight: 500;
    font-family: "Heebo", sans-serif;
    border-radius: 5px;
    background: var(--messageNextWordBackground);
    color: var(--messageNextWordTextColor);
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    border: solid 1px var(--messageNextWordBorderColor);
  }

  &.won {
    border-color: var(--messageWonBorderColor);

    .nextWord {
      border-color: var(--messageWonNextWordBorderColor);
    }
  }

  &.lost {
    border-color: var(--messageLostBorderColor);

    .nextWord {
      border-color: var(--messageLostNextWordBorderColor);
    }
  }
}
