.message {
  position: absolute;
  top: 20vh;
  background: white;
  width: 80vw;
  text-align: center;
  border: solid 1px black;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px -1px rgb(0 0 0 / 10%);
  padding-bottom: 1em;
  left: 10vw;

  padding-bottom: 1em;

  .nextWord {
    margin: 10px;
    font-size: 24px;
    font-weight: 500;
    font-family: "Heebo", sans-serif;
    border-radius: 5px;
    background: #f6f6f6;
    color: black;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    border: solid 1px black;
  }

  &.won {
    border-color: green;

    .nextWord {
      border-color: green;
    }
  }

  &.lost {
    border-color: red;

    .nextWord {
      border-color: red;
    }
  }
}
