.word {
  display: flex;

  .letter {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 45px;
    font-weight: 300;
    border: solid 1px #000000;
    color: black;
    height: 45px;
    width: 45px;
    margin: 10px;
    font-family: "Heebo", sans-serif;
    border-radius: 5px;

    &.correct {
      background: limegreen;
      color: white;
    }

    &.wrong {
      background: gray;
      color: white;
    }

    &.wrongPlace {
      color: white;
      background: sandybrown;
    }
  }

  @media only screen and (max-width: 400px) {

    & {
      width: 95%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .letter {
      height: 20px;
      width: 20px;
    }
  }
}
