@import './variables';

.app {
  direction: rtl;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75vw;
  font-family: "Heebo", sans-serif;
  height: 98vh;
  justify-content: space-between;
  margin: 0 auto;
  background: var(--appBackground);
  color: var(--appTextColor);

  .upper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: auto;

    h1 {
      border-bottom: solid 1px var(--h1BorderBottomColor);
      width: 100%;
      text-align: center;
    }
  }

  @media only screen and (max-width: 1000px) {
    & {
      width: 90vw;
      height: 97vh;
      display: block;

      h1 {
        margin: 0;
        padding: 0;
        margin-bottom: .5em;
      }
    }
  }

  &.dark {
    --appBackground: black;
    --appTextColor: white;
  }
}
